.tabla {
    max-height: 93.5vh;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.tabla::-webkit-scrollbar {
    width: 10px;
  }
  
.tabla::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }
  
.tabla::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.fixTableHead {
  overflow-y: auto;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.star {
  cursor: pointer;
}
:root {
  --bs-gradient-reverse: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
}

.reverse-gradiant {
  background-image: var(--bs-gradient-reverse)!important;
}
