{% extends 'layouts/layout.html' %}

{% block body %}

{% include 'layouts/navbar.html' %}

<main class=" m-0 p-5 ">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    

    <h2 class=" text-light">Añadir objeto</h2>
    <form action="/api/add_{{type}}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="id_name" class="control">Nombre</label>
            <input type="text" class="form-control rounded bg-dark text-light"
                name="name" id="id_name">
        </div>

        <select class="form-select form-select-lg mb-3" name="type"
            aria-label="Large select example">
            <option selected>Tipo</option>
            <option value="1">Novela Web JP</option>
            <option value="2">Novela Web KR</option>
            <option value="3">Novela Web CH</option>
            <option value="4">Novela Ligera JP</option>
            <option value="5">Novela Ligera KR</option>
            <option value="6">Novela Ligera CH</option>
        </select>

        <select class="form-select form-select-lg mb-3" name="status"
            aria-label="Large select example">
            <option selected>Estado de Novela</option>
            <option value="1">Completado</option>
            <option value="2">En Emision</option>
            <option value="3">En Hiatus</option>
            <option value="4">Droppeado</option>
        </select>
        
        <select class="form-select form-select-lg mb-3" name="my_status"
            aria-label="Large select example">
            <option selected>Mi Estado</option>
            <option value="1">Finalizado</option>
            <option value="2">En Lectura</option>
            <option value="3">En Hiatus</option>
            <option value="4">Sin Empezar</option>
            <option value="5">Droppeado</option>
        </select>
        
        <div class="mb-3">
            <label for="id_shop_level" class="control">Puntuacion General</label>
            <input type="text" class="form-control rounded bg-dark text-light"
                name="score" id="id_shop_level">
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="1" 
                name="favorite" id="flexCheckDefault" >
            <label class="form-check-label" for="flexCheckDefault">
                Favorito?
            </label>
        </div>
        <div class="mb-3">
            <label for="id_link" class="control">Link de Novela</label>
            <input type="text" class="form-control rounded bg-dark text-light"
                name="link" id="id_link">
        </div>

        <input type="submit" value="Agregar {{type}}" class="btn btn-dark">
    </form>
</main>

{% endblock %}