{% extends "layout.html" %}

{% block titlePage %}
{{ titlePage }}
{% endblock titlePage %}

{% block searchBox %}
<form class="d-flex" role="search" action="/anime" method="POST">
    <input class="form-control me-2" type="search" name="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>
{% endblock searchBox %}

{% block body %}

<div class="container-md px-3 bg-dark h-100 text-center text-light ">
    <h2>Lista de Comics</h2>
    <div class=" tabla fixTableHead">
        <table class="table table-striped">
            <thead class="bg-primary">
                <th class="bg-primary">ID</th>
                <th class="bg-primary">Nombre</th>
                <th class="bg-primary">Cantidad de Capitulos</th>
                <th class="bg-primary">Cantidad de Temporadas</th>
                <th class="bg-primary">Tipo</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{datas[0]}}</td>
                    <td>{{datas[1]}}</td>
                    <td>{{datas[2]}}</td>
                    <td>{{datas[3]}}</td>
                    <td>{{datas[4]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

{% endblock body %}