{% extends "layout.html" %}

{% block searchBox %}
<form class="d-flex" role="search" action="/comic" method="POST">
    <input class="form-control me-2" type="search" name="id" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>
{% endblock searchBox %}

{% block body %}

<div class="container-md px-3 bg-dark h-100 text-center text-light ">
    <h2>Lista de Comics</h2>
    <div class=" tabla fixTableHead">
        <table class="table table-striped">
            <thead class="bg-primary">
                <th class="bg-primary">ID</th>
                <th class="bg-primary">Nombre</th>
                <th class="bg-primary">Cantidad de Capitulos</th>
                <th class="bg-primary">autor</th>
                <th class="bg-primary">Tipo</th>
            </thead>
            <tbody>
                {% for data in datas%}
                    <tr>
                        <td>{{data[0]}}</td>
                        <td>{{data[1]}}</td>
                        <td>{{data[2]}}</td>
                        <td>{{data[3]}}</td>
                        <td>{{data[4]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

{% endblock body %}