{% extends "layout.html" %}



{% block body %}

<div class="container-md px-3 bg-dark h-100 text-center text-light">
    <h1>Bienvenido a mi biblioteca</h1>
    <div class="row align-items-center h-50 my-4">
        <h2>¿Que biblioteca desea ver?</h2>
        <div class="col-md ">
            <a href="/animes" class="btn btn-primary w-100 h-100 d-flex justify-content-center d-flex align-items-center fs-1">Animes</a>
        </div>
        <div class="col-md ">
            <a href="#" class="btn btn-info w-100 h-100 d-flex justify-content-center d-flex align-items-center fs-1">Comics</a>
        </div>
    </div>
    
    
</div>


{% endblock body %}
