{% extends "layout.html" %}

{% block titlePage %}
{{ titlePage }}
{% endblock titlePage %}

{% block body %}

<div class="container-md px-3 bg-dark h-100 text-center text-light">
    <h1>Bienvenido a mi biblioteca, {{ current_user.rol }}</h1>
    <div class="row align-items-center h-50">
        <h2>¿Que biblioteca desea ver?</h2>
        <div class="col-md my-4">
            <a href="/animes" class="btn btn-primary w-100 h-100 d-flex justify-content-center d-flex align-items-center fs-1">Animes</a>
        </div>
        <div class="col-md my-4">
            <a href="/comics" class="btn btn-info w-100 h-100 d-flex justify-content-center d-flex align-items-center fs-1">Comics</a>
        </div>
    </div>
    <div class="row align-items-center h-50">
        <div class="col-md mb-4">
            <a href="/novelas" class="btn btn-secondary w-100 h-100 d-flex justify-content-center d-flex align-items-center fs-1">Novelas</a>
        </div>
    </div>
    
    
</div>


{% endblock body %}
