<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block titlePage %}{% endblock titlePage %}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" id="estilo" href="{{ url_for('static', filename='css/bootstrap.min.quartz.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark container-md sticky-top reverse-gradiant">
		<div class="container-fluid">
		  <a class="navbar-brand text-light" href="/">Bibliotaku</a>
		  
		  <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse " id="navbarNav">
			<ul class="navbar-nav d-flex flex-fill">
				<li class="nav-item"><a href="/animes" class="nav-link">Animes</a></li>
				<li class="nav-item"><a href="/comics" class="nav-link">Comics</a></li>
				<li class="nav-item"><a href="/novelas" class="nav-link">Novelas</a></li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item">	
					{% block searchBox %}{% endblock searchBox %}
				</li>
				
				<li class="nav-item dropdown">
					{% if url_for(request.endpoint) != '/login' %}
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true" id="dropdown-main">
							{{ current_user.username }}
						</a>
						<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
							<li>
							</li>
							{% if current_user.rol == 'Administrador' %}
							<li class="dropdown-item">
								<a class="nav-link" href="/register">Añadir cuenta</a>
							</li>
							{% endif %}
							
							<li class="dropdown-item dropstart">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
									Temas
								</a>
								<ul class='dropdown-menu dropdown-menu-dark dropdown-menu-end'>
									<li>
										<button class="dropdown-item btn" onclick="changeStyle(1)">Bootstrap Principal</button>
									</li>
									<li >
										<button class="dropdown-item btn" onclick="changeStyle(2)">Bootstrap Dark</button>
									</li>
									<li >
										<button class="dropdown-item btn" onclick="changeStyle(3)">Bootstrap Neon</button>
									</li>
									<li >
										<button class="dropdown-item btn" onclick="changeStyle(4)">Bootstrap Quart</button>
									</li>
								</ul>
							</li>
							<li>
								<a href="{{ url_for('logout') }} " class="dropdown-item">Cerrar Sesion</a>
							</li>
						</ul>
				</li>
				
					{% else %}
			
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
								Temas
							</a>
							<ul class='dropdown-menu dropdown-menu-dark dropdown-menu-end'>
								<li>
									<button class="dropdown-item btn" onclick="changeStyle(1)">Bootstrap Principal</button>
								</li>
								<li >
									<button class="dropdown-item btn" onclick="changeStyle(2)">Bootstrap Dark</button>
								</li>
								<li >
									<button class="dropdown-item btn" onclick="changeStyle(3)">Bootstrap Neon</button>
								</li>
								<li >
									<button class="dropdown-item btn" onclick="changeStyle(4)">Bootstrap Quart</button>
								</li>
							</ul>
						</li>
					{% endif %}
					</ul>
				</li>
					
				
			</ul>
		  </div>
		  
		</div>
	  </nav>

	{% block body %}
	{% endblock %}

	<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>