{% extends "layout.html" %}

{% block titlePage %}
{{ titlePage }}
{% endblock titlePage %}

{% block body %}

<div class="container-md px-3 bg-dark h-100 text-center text-light">

    <h2>{{ title }}</h2>
  
    <div class="d-flex justify-content-center">
        <form action="/api/login" method="POST" class="w-50">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="Username">

            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" name="lastname" placeholder="Password">
            
            <button type="submit">Save</button>
        </form>
    </div>
</div>

{% endblock body %}