{% extends "layout.html" %}

{% block titlePage %}
{{ titlePage }}
{% endblock titlePage %}

{% block body %}

<div class="container-md px-3 bg-dark bg-gradient h-100 text-center text-light">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible my-3">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>{{ title }}</h2>
  
    <div class="d-flex justify-content-center">
        <form action="/api/register" method="POST" class="w-50" id="formulario">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control mb-3" id="Username" name="username" placeholder="Username">
            <p class="formulario__input-error mb-3" id="error_Username">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>

            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control mb-3" id="Password" name="password" placeholder="Password">
            <p class="formulario__input-error mb-3" id="error_Password">La contraseña tiene que ser de 8 a 24 dígitos.</p>

            <label for="exampleFormControlInput1" class="form-label">Re-Password</label>
            <input type="password" class="form-control mb-3" id="confirmPassword" name="password2" placeholder="Password">
            <p class="formulario__input-error mb-3" id="error_confirmPassword">Ambas contraseñas deben ser iguales.</p>

            <select class="form-select form-select-md mb-3" name="rol" aria-label=".form-select-md example">
                <option selected>Rol de usuario</option>
                <option value="1">Administrador</option>
                <option value="2">Cliente</option>
            </select>

            <button type="submit" class="btn btn-primary mb-3 disabled" id="btn-form">Registrar nueva cuenta</button>
        </form>
    </div>

    
</div>
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock body %}